/* Customized styles  */

*{
    box-sizing: border-box;
}
.nav-bg{
    background-image: url('../Images/flag/flag-1.jpg');
    background-size: cover;
    background-blend-mode: darken;
  
}

.logo{
    width: 80px;
    height: 80px;
    border: 3px solid rgb(88, 232, 65);
    border-radius: 50px;
    margin-right: 10px;
}
.txt{
    color:#ff0000;
}
.nav-links{
    width:fit-content;
    justify-content: flex-end;
    margin-left: 10px;
}
.nav-links ul li a {
color: blanchedalmond;
font-size: large;
margin: 2px;
}
.nav-links ul li a:hover{
color:bisque;
background-color:aquamarine;
border-radius: 5px;

}
.nav-links ul li a:visited{
    color: #ff0000;
}
.country-info{

}

.country-info-container{
   background-image: url("../Images/flag/flag-3.jpg");
   background-color:rgb(15, 97, 15);
   background-repeat: no-repeat;
   background-size: cover;
   background-position:top;
   background-blend-mode:lighten;
   
}